#icon{
    width: 100px;
    height:100px;
    position: relative;
    left:40%;
    top: 10%;
    transition: transform 1s  ease-out;
}
.cardContainer .card{
position: relative;
width: 500px;
height: 420px;
background-color: rgb(204, 201, 201);;
margin: 20px;
border-radius: 20px;
overflow: hidden;
box-shadow: 0 15px 25px #312f3a;
transition:  all .5s ease-in-out;
margin-left: 35%;
margin-top: 100px;
}
 .card:hover {
transform: scale(1.2);
opacity: 1;

}
.card:hover #icon{
    transform: rotate(1turn);
}
.card:hover .cardContainer{
    filter: blur(100px);
}

.footerContainer {
    margin-top: 200px;
}
.btn{
padding: 10px 14px;
background-color: #e7e7f0;
color: #312f3a;
border: none;
border-radius: 5px;
font-size: 20px;
transition: all 0.3s;
margin:50px;
}
.btn:hover{
background-color: #5bacdf;
color: white; 
transform: scale(1.1);
border-radius: 50px; 
}
.content{
    margin: 50px;
    margin-top: 80px;
    text-align: center;
    font-size: larger;
}
a{
    color: inherit;
    text-decoration: none !important; 
}
p{
    margin: 50px;
}