body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f8fc;
  color: #312f3a;
  padding: 20px;
  text-align: center;
}

button {
  color: #04223e;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.hero-section {
  background-color: #f1f8fc;
  background-color: #f1f8fc;
  background-image: url("header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh; 
  text-align: center;
  padding: 100px 0;  
}
.big-title {
  font-size: 1.4rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}
.hero-title {
  margin: 15px;
  margin-bottom: 50px;
  width: 600px;
  background-color: #f1f8fc;
position: relative;
bottom: 19%;
left: 2%;

}

.hero-description {
  margin-bottom: 30px;
  max-width: 550px; 
  margin: 0 auto;
  position: relative;
  right: 24%;
  bottom: 19%;
  font-size: 18px;
}

.card-description{
  padding: 15%;
  position: relative;
  width:151%;
  right:25%;
  font-size:19px;
}
.hero-btn {
  padding: 10px 14px;
  background-color: #e7e7f0;
  color: #e9e8ef;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s;
  margin:5px;
}
.hero-btn:hover{
background-color: #5bacdf;
color: white; 
transform: scale(1.1);
border-radius: 50px; 
}


a{
  color: inherit;
  text-decoration: none!important;
}

.person {
  width: 37%;
  transform: translate(65%, 0px);
  bottom: 43px;
}

.Sign-in{
  border-radius: 10px;
  color: #414f7b;
  box-shadow: -1px 1px 20px 2px #00000030;
width: 400px;
height: 400px;
position: absolute;
left: 64%;
bottom: 26%;
padding-top: 6%;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.input-field {
  max-width: 280px;
  width: 100%;
  background-color: #e4e6e8;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 200;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #696868;
  font-weight: 400;
}
.title {
  font-size: 2.2rem;
  color: #45424b;
  margin-bottom: 10px;
}