
/* .selection{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 50vh;
  padding: 4px;
  border-radius: 9px;
  background-color: #e7e7f0;
} */
/* select {
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(12, 1, 1); 
  border: 0px;
  padding: 4px;
  border-radius: 20px 20px 20px 20px;                     
}  */

body {
   margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}  
.requestsboard {
    display: flex;
    justify-content: center;
}

table {
    width: 100%; /* Adjust the width of the table as needed */
    height: 400px;
    border-collapse: collapse;
    background-color: #5bacdf;
    box-shadow: 0px 0px 10px #fff9f9;
    margin-top: 20px;
}

th, td {
    padding: 20px; /* Adjust padding for cells as needed */
    text-align: left;
}

th {
    background-color: #EEEEEE;
    color: #000000;
}

td {
    background-color: #EEEEEE;
    color: #000000;
}

#image{
  width: 100px; 
  height: 100px; 
  border-radius:50%;
}

select {
padding: 10px 14px;
background-color: #e7e7f0;
color: rgb(22, 46, 86);
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 20px;
}

select:hover {
background-color: #5bacdf; /* Change to desired hover background color */
color: white; /* Change to desired hover text color */
}

.requestIcon{
  width: 50px;
  height: 50px;
}
h1{
  color: #000000;
  display: grid;
  place-items: center;
  margin-top:50px;
}

#All {
  position: relative;
  left:1050px;
}
.incoming {
  background-color:#b8ccd8;
  width:20;
  height: 20px;
  border-radius: 20px 20px 20px 20px;
}
.footerContainer {
  margin-top: 200px;
}
