body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  }  
  .requestsboard {
  display: flex;
  justify-content: center;
  }
  
  table {
  width: 100%;
  height:auto;
  border-collapse: collapse;
  background-color: #5bacdf;
  box-shadow: 0px 0px 10px #fff9f9;
  margin-top: 20px;
  }
  
  th, td {
  padding: 20px;
  text-align:center;
  }
  
  th {
    background-color: #EEEEEE;
    color: #000000; 
    font-size: large;
  }
  
  td {
    background-color: #EEEEEE;
    color: #000000;
  }
  .save-btn {
    padding: 10px 14px;
    background-color: #e7e7f0;
    color: rgb(22, 46, 86);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.3s;
  }
  
  .save-btn:hover {
    background-color: #5bacdf;
    color: white; 
    transform: scale(1.1);
    border-radius: 50px;
  }
  
  #image{
    width: 100px; 
    height: 100px; 
    border-radius:50%;
  }
  
  select {
    padding: 10px 14px;
    background-color: #e7e7f0;
    color: rgb(22, 46, 86);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    -webkit-appearance: none;
    transition: all 0.3s;
  }
  
  select:hover {
  background-color: #5bacdf;
  color: white; 
  transform: scale(1.1);
  border-radius: 50px;

  }
  option{
    text-align: center;
  }
  .requestIcon{
    width: 50px;
    height: 50px;
  }
  h1{
    color: #000000;
    display: grid;
    place-items: center;
    margin-top:50px;
  }
  
  #All {
    position: relative;
    left:1090px;
  }
  .incoming {
    background-color:#b8ccd8;
    width:20;
    height: 20px;
    border-radius: 20px 20px 20px 20px;
  }
  .footerContainer {
    margin-top: 200px;
  }

