@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.light {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


.big-wrapper {
    position: relative;
    padding: 1.7rem 0 0;
    width: 100%;
    min-height: 109vh !important;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: relative;
  top: 49%;
  transform: translate(-50%, -50%);
  left: 54%;
  width: 100%;
  transition: 1s 0.7s ease-in-out;
  max-width: 900px;
  height: 52%;
  z-index: 1;

}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* Ensure the content takes up the full height */
}


form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2% 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}



.title {
  font-size: 2.2rem;
  color: #45424b;
  margin-bottom: 10px;
}

.input-field {
  max-width: 280px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1.1rem;
    color: #333;
    pointer-events: all;
}


.input-field ::placeholder {
  color: #aaa;
  font-weight: 400;
}

.btn {
  padding: 10px 14px;
  background-color: #e7e7f0;
  color: #312f3a;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s;
  margin:5px;  
}

.btn:hover {
  background-color: #5bacdf;
  color: white; 
  transform: scale(1.1);
  border-radius: 50px; 
}

.panels-container {
  position: absolute;
  height: 118%;
  width: 39%;
  top: 0;
  left: 76px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content:center;
}

.file-input  {
  
    bottom: 32%;
    background-color: #f0f0f0;
    margin: 10px 0;
    width: 179px; /* Set a fixed width for a square shape */
    height: 180px; /* Set a fixed height for a square shape */
    border-radius: 20px; /* Adjust the border-radius based on your design */
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position:relative;
    margin-left: 365px; /* Add this to move the file input to the right */
border-radius: 300%;
  }
  
 
  
  .file-input input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 200;
    font-size: 1.1rem;
    color: #333;
    height: 00%; /* Ensure the input takes full height */
  }
  
  .file-input input::placeholder   {
    color: #aaa;
    font-weight: 400;
  }
  
  .file-input label {
    display: block;
    padding-left: 23px;
    line-height: 29px;
    cursor: pointer;
    width: 200px; /* Adjust the width to your preference, e.g., 90% */
  }
  

  
  .file-input .profile-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .file-input .profile-name {
    margin-top: 170px;
    color:var(--darkTwo);
    font-size: 18px;
  }
 

  .file-input .photo-container {
    position: relative;
    left: 40px; /* Adjust the left property to move the container (and the icon) to the right */
  }
  
  .file-input i {
    text-align: center;
    line-height: 180px;
    color: #acacac;
    transition: 0.5s;
    font-size: 7rem;
    vertical-align: -.075em;
  }
 
